*{
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
}

header{
    background-color: chocolate;
    font-size: 14px;
    padding: 20px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav{
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    padding: 10px;
    position: absolute;
    height: 76vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
nav>a{
    text-decoration: none;
    color: black;
    height: 5vh;
}
section{
    position: relative;
    padding-left: 20%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 2fr);
    align-items: center; 
}
article{
    height: 20vh;
    width: 13vw;
    border: 1px solid chocolate;
}
article>a{
    height: 20vh;
    display: grid;
    grid-template-rows: 4fr 1fr;
    align-items: end;
    text-decoration: none;
    color: black;
    font-weight: bold;  
}
video{
    display: grid;
    align-self: start;
    height: auto;
    width: 100%;
}

footer{
    height: 9vh;
    background-color: darkgray;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
}
/* PAGINA EXTERNA */
#pagexterna{
    padding-left: 4%;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
